@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .sticky-nav {
        @apply sticky bg-white/80 backdrop-blur-2xl drop-shadow;
    }
}


body.bg {
    background-image: url(../src/images/bgs/home.png);
    background-repeat: no-repeat;
    background-position: top center;
}

body.bg > * {
    opacity: 0.5;
}